.border { border: solid 1px #666666; }
.border-light { border: solid 1px #AAAAAA; }
.bottom { vertical-align: bottom; }
.center { text-align: center; }
.float-left { float: left; }
.float-right { float: right; }
.hidden { display: none; }
.indent { margin-left: 50px; }
.inline { display: inline; }
.left { text-align: left; }
.lowercase { text-transform: lowercase; }
.middle { vertical-align: middle; }
.padding-none { padding: 0px; }
.padding-side { padding-left: 4px; padding-right: 4px; }
.padding-some { padding: 2px 4px 2px 4px; }
.right { text-align: right; }
.shaded { background-color: #AAAAAA; }
.shaded-light { background-color: #EEEEEE; }
.top { vertical-align: top; }
.uppercase { text-transform: uppercase; }
.wide { width: 100%; }

div.padded, table.padded th, table.padded td { padding: 2px 4px 2px 4px; }

table {
    border-collapse: collapse;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
}

td, th {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    text-align: left;
}