@media screen and (max-width: 600px) { .desktop { display: none; } }
@media screen and (min-width: 601px) { .mobile { display: none; } }

.border { border: solid 1px #666666; }
.border-light { border: solid 1px #AAAAAA; }

.float-left { float: left; }
.float-right { float: right; }

.left { text-align: left; }
.center { text-align: center; }
div > div.center, section > div.center { margin: auto; }
.right { text-align: right; }

.top { vertical-align: top; }
.middle { vertical-align: middle; }
div > div.middle, section > div.middle { margin-top: auto; margin-top: auto; }
.bottom { vertical-align: bottom; }

img[align="left"] { padding-right: 20px; }
img[align="right"] { padding-left: 20px; }

.wide { width: 100%; }

.indent { margin-left: 50px; }
.inline { display: inline; }

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.padding-none { padding: 0px; }
.padding-side { padding-left: 4px; padding-right: 4px; }
.padding-some { padding: 2px 4px 2px 4px; }

.hidden { display: none; }

div.padded, table.padded th, table.padded td { padding: 2px 4px 2px 4px; }

table {
    border-collapse: collapse;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
}

td, th {
    padding: 0px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
}